services:

  php-fpm:
    build:
      context: ..
      dockerfile: .docker/php-fpm/Dockerfile
      args:
        USER_ID: ${WWWUSER:-1000}
        GROUP_ID: ${WWWGRP:-1000}
    container_name: php-fpm
    user: ${WWWUSER:-1000}:${WWWGRP:-1000}
    restart: unless-stopped
    working_dir: /var/www/tm
    volumes:
      - ../:/var/www/tm
      - ./php-fpm/xdebug.ini:/usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini
      - ./php-fpm/php/php.ini-development:/usr/local/etc/php/php.ini-development
      - ./php-fpm/php/php.ini-production:/usr/local/etc/php/php.ini-production
    extra_hosts:
      - host.docker.internal:host-gateway
    environment:
        PHP_IDE_CONFIG: "serverName=php-fpm"
        IDE_KEY: PHPSTORM
    networks:
      - tm-network

  web:
      image: nginx:alpine
      container_name: web
      restart: unless-stopped
      ports:
          - 8080:80
      volumes:
          - ../:/var/www/tm
          - ./web/default.conf:/etc/nginx/conf.d/default.conf
      networks:
          - tm-network

networks:
  tm-network:
    driver: bridge

volumes:
  postgres-data:
